body {
margin-top: 5rem;
}

main ul {
    width: 90%;
    margin: 3.12rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem 1.25rem;
    padding: 0;
}

main li {
    display: flex;
    height: 16rem;
    background-color: seashell;
    border-radius: 8px;
    overflow: hidden;
    /* transition: transform 0.3s ease-out; */
}

/* main li:hover {
    transform: scale(1.05);
} */

li:nth-of-type(3), li:last-child {
    grid-column: 1 / span 2;
    height: 100;
}

main li img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}


.item-info {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-info h2 {
    font-family: 'Outfit' ,sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 1rem auto;
}
.item-info p{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 1.12rem;
    margin: 0;
}

.actions {
    text-align: right;
    margin-bottom: 1.25rem;
}

.actions a {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(53, 164, 255);
    display: inline-block;
    padding: 0.3rem;
    transition: background-color 0.3s ease-out;
}

.actions a:hover {
    background-color: rgba(117, 188, 255, 0.5);
    border-radius: 5px;
}

@media (max-width: 48rem) {
    main ul {
        grid-template-columns: none;
        display: flex;
        flex-flow: column;
        
    }   
}

@media (max-width: 80rem) {
    .item-info {
        padding: 0 0.9rem;
    }
    .item-info h2 {
        font-size: 1.2rem;
        margin: 0.5rem auto;
    }
    .item-info p {
        font-size: 1rem;
    }
    .actions a {
        font-size: 0.9rem;
        padding: 0.1rem;
    }
}