@media screen and (max-width: 700px) {
    .item-text {
        font-size: 12px !important;
    }
    ul {
        padding: 5px;
    }
}
header {
    position: static;
}

main ul {
    width: 1300px;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

main li {
    display: flex; 
    /* width: 650px; */
    height: 250px;
    background-color: seashell;
    border-radius: 8px;
    overflow: hidden;
}

li:nth-of-type(3), li:last-child {
    grid-column: 1 / span 2;
}

main li img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}


.item-info {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-info h2 {
    font-family: 'Outfit' ,sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 15px auto;
}
.item-info p{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin: 0;
}

.actions {
    text-align: right;
    margin-bottom: 20px;
}

.actions a {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: rgb(53, 164, 255);
    display: inline-block;
    padding: 5px;
}

.actions a:hover {
    background-color: rgba(117, 188, 255, 0.5);
    border-radius: 5px;
}

