header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(152, 162, 170, 0.4);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

section {
    background-image: url("/images/background/nature-1638476940984-6179.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}


/* вот это всё можно в form прописать */
.typing-section {
    width: 40%;
    height: 80%;
    background-color: rgba(107, 188, 255, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 2.12rem 0;
    margin: 5rem auto;
}


h1 {
    font-family: 'Outfit' ,sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}

.typing-section ul {
    list-style: none;
    text-align: left;
}

.typing-section label {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
}

.typing-section input {
    display: block;
    width: 80%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    border-style: none;
    margin: 0.4rem 0 1rem 0;
    padding: 0.3rem;
}

.typing-section input:focus {
    background-color: rgb(221, 236, 255);
    border: 2px solid white;
    outline: none;
    padding: 0.3rem;
}

.user-message {
    display: flex;
    flex-direction: column;
}

.user-message textarea, select {
    display: block;
    width: 80%;
    max-width: 80%;
    min-width: 60%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    border-style: none;
    padding: 0.3rem;
    margin: 0.4rem 0 1rem 0;
}

.user-message textarea:focus {
    background-color: rgb(221, 236, 255);
    border: 2px solid white;
    outline: none;
    padding: 0.3rem;
}

h2 {
    font-family: 'Outfit' ,sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}

.verify {
    display: flex;
}

.verify input {
    width: auto;
    margin-left: 3.12rem;
}

.verify label {
    padding-left: 0.5rem;
}

button {
    width: 25%;
    height: 10%;
    padding: 0.6rem;
    font-family: 'Outfit', sans-serif; 
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px 2px rgba(114, 113, 113, 0.3);
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease-out;
}

button:hover {
    color: rgba(17, 17, 17, 0.6);
    background-color: rgb(255, 240, 101);
    cursor: pointer;
}
footer ul {
    margin-top: 0;
}

@media (max-width: 48rem) {
    .typing-section {
        width: 80%;
        height: 80%;
    }
    input {
        width: 90%;
    }
    button {
        margin: 2rem auto;
        width: 35%;
        height: 10%;
        padding: 0.6rem;
    }
    
}