header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(152, 162, 170, 0.4);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#container {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0;
    background: linear-gradient(to right, rgba(255, 180, 113, 0.7), rgba(56, 130, 199, 0.7));
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
}

nav a {
    font-family: 'Outfit: Extra-light 200', sans-serif;
    font-size: 14px;
    height: 100%;
    text-shadow: 1px 1px 2px black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px 0 0;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    color: rgb(5, 5, 5);
    text-decoration: none;
    text-shadow: none;
    background-color: rgb(255, 240, 101);
}

#greetings {
    height: 900px;
    background-image: url("/images/background/nature-1638476940984-6179.jpg");
    background-position: center;
    background-size: cover;
}

#greetings-content {
    width: 900px;
    background-color: rgba(152, 162, 170, 0.6);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

#greetings-content a {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-style: solid;
    border-color: rgb(255, 240, 101);
    box-shadow: 2px 2px 4px rgb(68, 67, 67);
    padding: 10px;
    border-radius: 5px;
}

#greetings-content a:hover {
    color: rgb(5, 5, 5);
    text-decoration: none;
    text-shadow: none;
    background-color: rgb(255, 240, 101);
}

#popular-directions {
    /* background-color: rgb(56, 130, 199); */
    /* background-color: rgb(255, 180, 113); */
    background: linear-gradient(to right, rgba(255, 180, 113, 0.7), rgba(56, 130, 199, 0.7));
}

#popular-directions ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto 30px;
    margin-bottom: 100px;
    padding: 0;
}

.direction {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 20px;    
    display: list-item;  
}

.direction img {
    height: 180px;
    width: 269px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(68, 67, 67);
    object-fit: cover;
}





