body {
    margin: 0;
    background: linear-gradient(to right, rgba(255, 180, 113, 0.7), rgba(56, 130, 199, 0.7));
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(152, 162, 170, 0.4);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#greetings {
    height: 56.25rem;
    background-image: url("/images/background/nature-1638476940984-6179.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Outfit' ,sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

#greetings-content {
    width: 60%;
    background-color: rgba(152, 162, 170, 0.6);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 3.12rem 0;
    margin: 0 auto;
    position: relative;
    top: 12.5rem;
}

#greetings-content a {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-style: solid;
    border-color: rgb(255, 240, 101);
    box-shadow: 2px 2px 4px rgb(68, 67, 67);
    padding: 0.6rem;
    border-radius: 5px;
}

#greetings-content a:hover {
    color: rgb(5, 5, 5);
    text-decoration: none;
    text-shadow: none;
    background-color: rgb(255, 240, 101);
}

h2 {
    font-family: 'Outfit' ,sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 0;
}

#popular-directions {
    background: linear-gradient(90deg, rgba(255, 180, 113, 0.7), rgba(56, 130, 199, 0.7));
    justify-content: center;
    padding-top: 1.25rem;
}

#popular-directions ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 6.25rem;
    padding: 0;
    text-align: center;
}

.direction a {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    margin: 0 auto 1.25rem auto;
    padding: 0.5rem;
    width: 55%;
    background-color: rgba(152, 162, 170, 0);
    border-radius: 5px;
    border-style: none;
}

.direction a:hover {
    color: seashell;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.direction img {
    height: 11.25rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(68, 67, 67);
    object-fit: cover;
    margin-bottom: 1.25rem;
}

.direction {
    width: 25%;
}

@media (max-width: 48rem) {
    h1 {
        font-size: 1.3rem;
    }
    #greetings-content {
        padding: 2.12rem 1rem;
    }
    #greetings-content a {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .direction a {
        font-size: 0.9rem;
        width: 60%;
    }
}








